.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.boardWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.scoreWrapper {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 8px;
}

.scoreTextWrapper {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf5fc;
  border-radius: 8px;
  border-style: solid;
  border-color: #0d3c58;
  border-width: 3px;
  padding: 8px;
}

.scoreTitleText {
  font-size: 14px;
}

.scoreText {
  font-size: 20px;
}

.replayButton {
  padding: 16px 128px;
  font-size: 1rem;
  background-color: #0d3c58;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.replayButton:hover {
  background-color: #155a82;
}

.replayButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
